/*=---=*/
*{padding: 0;margin: 0;border: 0;}
 *,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
   :focus,:active{outline: none;}
   a:focus,a:active{outline: none;}
   nav,footer,header,aside{display: block;}
   html,body{height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px;
   -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
   input,button,textarea{font-family:inherit;}
   input::-ms-clear{display: none;}
   button{cursor: pointer;}
   button::-moz-focus-inner {padding:0;border:0;}
   a, a:visited{text-decoration: none;}
   a:hover{text-decoration: none;}
   ul li{list-style: none;}
   img{vertical-align: top;}
   h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*=---=*/
body {
   background-color: lightgray;
}
.colum {
   width: 700px;
   margin: 0 auto;
   background-color: white;
   padding: 15px;
   &__intro {
      font-size: 45px;
      padding: 20px;
   }
   &__block {
      height: 200px;
      margin-bottom: 40px;
      overflow: auto;
   }
   &__null-list {
      height: 70px;
      padding: 4px;
      border: 1px solid gray;
      text-align: center;
      font-size: 35px;
      font-weight: 300;
   }
   &__item {
      min-height: 24px;
      display: flex;
      padding: 2px 2px 2px 6px;
      margin: 10px 0 0 0;
      border-bottom:1px solid black ;
      align-items: center;
   }
   &__goal {
      width: 94%;
   }
   &__done-icon {
   }
   &__remove-icon {
   }
}
.icon {
}
.icon-img {
   width: 20px;
   margin-right: 5px;
   padding: 4px;
   &:hover {
      background-color: lightgrey;
   }
}
.addtool {
   display: flex;
   flex-direction: column;
   width: 700px;
   margin: 0 auto;
   background-color: white;
   padding: 10px 15px;
   border: 2px solid red;
   &__title {
      padding: 4px;
      font-size: 30px;
   }

   &__input {
      width: 100%;
      font-size: 24px;
      padding: 4px;
      &:focus {
         box-shadow: 0px 1px 10px blue;
         border-radius: 10px;
      }
   }
}
.btn {
   margin-top: 10px;
}